FileSearcher.v11.suo
FileSearcher/obj/Debug/FileSearcher.csproj.FileListAbsolute.txt
FileSearcher.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FileSearcher.Interfaces/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FileSearcher/obj/Debug/FileSearcher.csproj.FileListAbsolute.txt
FileSearcher/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FileSearcher.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache